/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-color),
      var(--bg-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-color-start),
      var(--bg-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-color-start) 0.01%,
      var(--bg-color-end)
    );
}

.header {
  display: flex;
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  
  font-family: var(--header-font-family);
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  margin-top: 100px;
  text-transform: uppercase;
  margin-bottom: 97px;
}

.title__header,
.title__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--main-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
}

.title__header {
  padding-top: 120px;
  padding-bottom: 20px;
}

.title__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-bottom: 25px;
}

.title__header,
.title__text,
.theme-menu__item {
  font-weight: var(--font-wh);
}

.theme-menu__item {
  position: relative;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  margin-bottom: 25px;
}

/* buttons*/
.button {
  position: relative;
  overflow: hidden;
}

.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  overflow: hidden;
}

.theme-menu__button::before {
  position: absolute;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: 2px;
}

.theme-menu__button:hover {
  color: var(--color);
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  border-bottom: 1px solid var(--color);
  opacity: 0.6;
}

/* section */
.section {
  display: flex;
  font-family: var(--main-font-family);
}

/* block__car */
.block__car {
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border: 2px solid var(--color);
  background: var(--background-color); 
}

.title__text-block {
  font-weight: 700;
  padding: 4px 10px;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
}

.block__text {
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
}

.block__text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 26px 25px;
  background: var(--background-color);
}


.image-label {
  position: absolute;
  right: 10px;
  top: 24px;
  z-index: 1;
  opacity: 0.5;
  font-size: 14px;
  text-shadow: none;
  -webkit-text-stroke: 1px var(--color);
  font-family: var(--header-font-family);
  mix-blend-mode: hard-light;
  
}


@supports (text-stroke: 1px var(--color)) or
  (-webkit-text-stroke: 1px var(--color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color);
    text-stroke: 1px var(--color);
  }
}

.image__element {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.block__image {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* button */
.button {
    font-family: var(--header-font-family);
    font-size: 14px;
    position: relative;
    overflow: hidden;
    color: var(--mix-blend-color);
    background: none;
    border: 2px solid var(--color);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}



.like__button {
  width: 130px;
  padding: 10px 0;
  
}

.block__like-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}