/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like__icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-color),
      var(--bg-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-color-start),
      var(--bg-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-color-start) 0.01%,
      var(--bg-color-end)
    );
}

.header {
  display: flex;
  width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  font-family: var(--header-font-family);
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  margin: 100px 0px;
  padding-top: 120px;
  text-transform: uppercase;
}

.title__header,
.title__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--main-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
}

.title__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-bottom: 25px;
  padding-top: 20px;
}

.title__header,
.title__text,
.theme-menu__item {
  font-weight: var(--font-wh);
}

.theme-menu__item {
  position: relative;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
  margin-bottom: 25px;
}

/* buttons*/
.theme-menu__button {
  padding: 0;
  background: none;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border: none;
  overflow: hidden;
}


.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}


.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.theme-menu__button::before {
  position: absolute;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);
}

/* section */
.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family);
}

/* block van */
.block__car {
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border: 2px solid var(--color);
  background: var(--background-color);
}

.title__text-block {
  font-weight: 700;
  padding: 4px 10px;
  font-size: 18px;
  line-height: normal;
  font-style: normal;
}

.block__text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-size: 18px;
  padding: 26px 25px;
  background: var(--background-color);
}

/* img  */
.img__label {
  font-family: var(--header-font-family);
  font-size: 14px;
  font-weight: var(--font-wh);
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color), 1px 0 var(--bg-color),
    0 -1px var(--bg-color);
  position: absolute;
  right: 25px;
  top: 27px;
}

@supports (text-stroke: 1px var(--bg-color)) or
  (-webkit-text-stroke: 1px var(--bg-color)) {
  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

@media (width <= 375px) {
  .img__label {
    right: 10px;
    top: 24px;
  }
}

.img__element {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.block__image {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* button */
.button {
  font-family: var(--header-font-family);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--text-button-color);
  background: none;
  border: 2px solid var(--color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color);
}

.button__text {
  color: var(--text-button-color);
  mix-blend-mode: difference;
}

.like__button {
  width: 130px;
  padding: 10px 0;
}

/* сердце */
.like__icon {
  width: inherit;
  height: inherit;
  fill: var(--color);
  position: relative;
  z-index: 1;
}

.like__icon .heart__element {
  transform-origin: center center;
  transition: fill 0.1s;
}

.like__icon .stroke {
  fill: var(--color);
}

.like__icon .basic {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.like__icon .key {
  fill: var(--bg-color);
  transition: fill 0.3s 0.05s;
}

.like__icon .shines {
  opacity: 0;
  fill: var(--color-heart);
}

.like__icon:hover .basic {
  fill: var(--text-color);
}

.like__icon:hover .key {
  fill: var(--color);
}

.like__icon:active .basic {
  fill: var(--color-heart);
}

.like__icon:active .key {
  fill: var(--color-heart);
}

.like__icon.is-liked .stroke {
  fill: var(--color-heart);
}

.like__icon.is-liked .basic {
  fill: var(--color-heart);
}

.like__icon.is-liked .key {
  fill: var(--color-heart);
}

/* кнопка  */
.block__like-button-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6px;
}

.block__icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 39px;
  height: 36px;
}

.block__icon-button:focus {
  outline: none;
}

.block__icon-button:focus-visible {
  outline: 2px solid var(--color);
}

/* фото в разных цветовах */
.grayscale {
  filter: grayscale(50%);
}
