/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --background-color: #fff;
  --bg-color: #ffffff;
  --bg-color-start: #e7e7e7;
  --bg-color-end: #1a1a1a;
  --border-color: #000;
  --color: #000;
  --text-button-color: #ffffff;
  --font-wh: 400;
}

:root.theme-dark {
  --background-color: #000;
  --bg-color: #000;
  --bg-color-start: #007f0c;
  --bg-color-end: #004306;
  --border-color: #00cc14;
  --color: #00cc14;
  --text-button-color: #00cc14;
  --font-wh: 400;
}
