/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --header-font-family: "Press Start 2P", fantasy;
  --main-font-family: "Inter", sans-serif;
  --color-heart: #ff0000;
}


/* Всё работает так, когда убираю медиа от сюда, всё  перестает работать */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --bg-color: #ffffff;
    --bg-color-start: #e7e7e7;
    --bg-color-end: #1a1a1a;
    --border-color: #000;
    --color: #000;
    --text-button-color: #ffffff;
    --font-wh: 400;
    --bg: 
    repeating-linear-gradient( 90deg, 
    var(--bg-color) 0px 2px, transparent 2px 4px ), 
    repeating-linear-gradient(180deg, 
    var(--bg-color) 0px 2px, transparent 2px 4px), 
    linear-gradient(180deg, var(--bg-color-start) 0%,
     var(--bg-color-end) 100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --bg-color: #000;
    --bg-color-start: #007f0c;
    --bg-color-end: #004306;
    --border-color: #00cc14;
    --color: #00cc14;
    --text-button-color: #00cc14;
    --font-wh: 400;
    --bg: 
    repeating-linear-gradient( 90deg, 
    var(--bg-color) 0px 2px, transparent 2px 4px ), 
    repeating-linear-gradient(180deg, 
    var(--bg-color) 0px 2px, transparent 2px 4px), 
    linear-gradient(180deg, var(--bg-color-start) 0%,
     var(--bg-color-end) 100%);
  }
}
